#ignore files without extensions
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# Compiled python modules.
*.pyc

# Pycharms .idea can be ignored
/.idea

# Pycharms .idea can be ignored
/__pycache__/*.pyc

#ipnyb checkpoints
/code/.ipynb*

*.pyc
/__pycache__/
